APIFREELLM_KEY=apf_lxor1g8l885fk8v5a40q2brd
APP_URL=https://dark-bot-fqsn.onrender.com
ASSEMBLYAI_API_KEY=d23b7206fbfe4f139c58c289591b89e5
BOT_NAME="System Dark"
BOT_NUMBER=244949926074
CEREBRAS_API_KEY=csk-jwpct336nkknvhh9jt6rytrk4yccxfn5j5npv34pnn6wdphr
CLOUDINARY_API_KEY=121927124459388
CLOUDINARY_API_SECRET=DrxzDxQph4XE_ZjlZPRYIfl3ha8
CLOUDINARY_CLOUD_NAME=dvnmvvego
ELEVENLABS_API_KEY=sk_d0a9b2e8b5e9f9b164754300fb8dd26d98efb54659fe70d9
FB_PAGE_ACCESS_TOKEN="COLE_SEU_TOKEN_AQUI"
GEMINI_API_KEY="COLE_SUA_CHAVE_AQUI"
GROQ_API_KEY="COLE_SUA_CHAVE_AQUI"
HUGGINGFACE_API_KEY="COLE_SUA_CHAVE_AQUI"
MONGODB_URI="mongodb+srv://darkbot:****@cluster0.yzpwymq.mongodb.net/?appName=Cluster0"
NODE_ENV=production
OWNER_NAME="KRAD"
OWNER_NUMBER=244945280380
PORT=3000
SYSTEMZONE_API_KEY=freekey
SYSTEMZONE_API_URL=https://systemzone.store
TAVILY_API_KEY=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
